<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template • TodoMVC</title>
	<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
	<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
	<!-- CSS overrides - remove if you don't need it -->
	<link rel="stylesheet" href="css/app.css">
	<style>
		#toggle-all + .label::before {
			content: '❯';
			font-size: 22px;
			color: #000;
			padding: 10px 27px 10px 27px;
		}
	</style>
</head>

<body>
	<section class="todoapp" id="app">
		<header class="header">
			<h1>todos</h1>
			<input v-dian v-model="newObj" @keyup.enter="addInformation" class="new-todo" placeholder="What needs to be done?"
				autofocus>
		</header>
		<!-- This section should be hidden by default and shown when there are todos -->
		<section class="main">
			<input id="toggle-all" class="toggle-all" type="checkbox" :checked="allCheck" @change="allChange()">
					<!-- 使用 :class="{label: checkColor}" 进行改变全选按钮样式 舍去 -->
			<!-- <label :class="{label: checkColor}" for="toggle-all">Mark all as complete</label> -->
			<label :class="{label: checkColor}" for="toggle-all">Mark all as complete</label>
			<ul class="todo-list">
				<!-- These are here just to show the structure of the list items -->
				<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
				<!-- <li class="completed">
					<div class="view">
						<input class="toggle" type="checkbox" checked>
						<label>Taste JavaScript</label>
						<button class="destroy"></button>
					</div>
					<input class="edit" value="Create a TodoMVC template">
				</li>
				<li>
					<div class="view">
						<input class="toggle" type="checkbox">
						<label>Buy a unicorn</label>
						<button class="destroy"></button>
					</div>
					<input class="edit" value="Rule the web">
				</li> -->
				<!-- 使用v-for遍历出li -->
				<!-- completed 控制行的删除线 -->
				<li :class="{completed: item.flag}" v-for="(item,index) in list" :key="item.id">
					<div class="view">
						<!-- :checked 控制选中或未选中 -->
						<input class="toggle" type="checkbox" @change="change(item.id)" :checked="item.flag">
						<label>{{ item.content }}</label>
						<button @click="del(index)" class="destroy"></button>
					</div>
					<input class="edit" value="Create a TodoMVC template">
				</li>
			</ul>
		</section>
		<!-- This footer should hidden by default and shown when there are todos -->
		<footer class="footer">
			<!-- This should be `0 items left` by default -->
			<span class="todo-count"><strong v-text="lineCount.length"></strong> item left</span>
			<!-- Remove this if you don't implement routing -->
			<ul class="filters">
				<li>
					<a class="selected" href="#/">All</a>
				</li>
				<li>
					<a href="#/active">Active</a>
				</li>
				<li>
					<a href="#/completed">Completed</a>
				</li>
			</ul>
			<!-- Hidden if no completed items are left ↓ -->
			<button class="clear-completed" @click="delByCheck()" v-show="showFlag">Clear completed</button>
		</footer>
	</section>
	<footer class="info">
		<p>Double-click to edit a todo</p>
		<!-- Remove the below line ↓ -->
		<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
		<!-- Change this out with your name and url ↓ -->
		<p>Created by <a href="http://todomvc.com">you</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
	</footer>

	<!-- Scripts here. Don't remove ↓ -->
	<script src="node_modules/todomvc-common/base.js"></script>
	<!-- 引入vue.js -->
	<script src="./node_modules/vue/dist/vue.min.js"></script>
	<script src="js/app.js"></script>
</body>

</html>